Checks: "
        clang-diagnostic-*,
        clang-analyzer-*,
        -*,
        mpi-*,
        bugprone-*,
        -bugprone-switch-missing-default-case,
        -bugprone-signal-handler,
        -bugprone-narrowing-conversions,
        -bugprone-redundant-branch-condition,
        -bugprone-exception-escape,
        -bugprone-multiple-new-in-one-expression,
        -bugprone-unchecked-optional-access,
        -bugprone-shared-ptr-array-mismatch,
        -bugprone-implicit-widening-of-multiplication-result,
        -bugprone-signed-char-misuse,
        -bugprone-inc-dec-in-conditions,
        -bugprone-assignment-in-if-condition,
        -bugprone-incorrect-enable-if,
        -bugprone-bool-pointer-implicit-conversion,
        -bugprone-empty-catch,
        -bugprone-unhandled-exception-at-new,
        -bugprone-optional-value-conversion,
        -bugprone-compare-pointer-to-member-virtual-function,
        -bugprone-multi-level-implicit-pointer-conversion,
        -bugprone-unsafe-functions,
        -bugprone-infinite-loop,
        -bugprone-easily-swappable-parameters,
        -bugprone-unique-ptr-array-mismatch,
        -bugprone-non-zero-enum-to-bool-conversion,
        -bugprone-not-null-terminated-result,
        -bugprone-standalone-empty,
        -bugprone-stringview-nullptr,
        cert-err52-cpp,
        cert-err60-cpp,
        cert-err34-c,
        cert-str34-c,
        cert-dcl21-cpp,
        cert-msc50-cpp,
        cert-msc51-cpp,
        cert-dcl58-cpp,
        cert-flp30-c,
        cppcoreguidelines-pro-type-member-init,
        cppcoreguidelines-slicing,
        cppcoreguidelines-interfaces-global-init,
        cppcoreguidelines-pro-type-static-cast-downcast,
        cppcoreguidelines-narrowing-conversions,
        hicpp-multiway-paths-covered,
        hicpp-exception-baseclass,
        llvm-include-order,
        openmp-use-default-none,
        performance-*,
        -performance-noexcept-swap,
        -performance-noexcept-destructor,
        -performance-enum-size,
        -performance-no-int-to-ptr,
        -performance-avoid-endl,
        portability-simd-intrinsics,
        clang-analyzer-unix.Malloc,
        clang-analyzer-core.uninitialized.Branch,
        clang-analyzer-core.DivideZero,
        clang-analyzer-core.NullDereference,
        clang-analyzer-cplusplus.NewDeleteLeaks,
        clang-analyzer-core.uninitialized.Assign,
        clang-analyzer-deadcode.DeadStores,
        clang-analyzer-cplusplus.NewDelete,
        clang-analyzer-core.BitwiseShift,
        clang-analyzer-cplusplus.PlacementNew,
        clang-analyzer-cplusplus.PureVirtualCall,
        readability-misleading-indentation,
        readability-redundant-string-cstr,
        readability-use-anyofallof,
        readability-avoid-const-params-in-decls,
        readability-simplify-subscript-expr,
        readability-redundant-smartptr-get,
        readability-string-compare,
        readability-delete-null-pointer,
        readability-uniqueptr-delete-release,
        readability-static-definition-in-anonymous-namespace,
        readability-redundant-declaration,
        readability-redundant-string-init,
        readability-redundant-control-flow,
        readability-misplaced-array-index,
        readability-inconsistent-declaration-parameter-name,
        readability-static-accessed-through-instance,
        readability-container-size-empty,
        readability-redundant-function-ptr-dereference,
        google-default-arguments,
        google-runtime-operator,
        misc-unconventional-assign-operator,
        misc-misplaced-const,
        misc-new-delete-overloads,
        misc-non-copyable-objects,
        misc-throw-by-value-catch-by-reference,
        misc-uniqueptr-reset-release,
        modernize-*,
        -modernize-use-nodiscard,
        -modernize-use-trailing-return-type,
        -modernize-avoid-c-arrays,
        -modernize-use-constraints,
        -modernize-use-noexcept,
        -modernize-type-traits,
        -modernize-use-std-print,
        -modernize-use-using,
        -modernize-use-uncaught-exceptions,
        -modernize-use-auto,
        -modernize-macro-to-enum
"
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     none
