[submodule "Vendor/tracy"]
	path = Vendor/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "Vendor/fastgltf"]
	path = Vendor/fastgltf
	url = https://github.com/spnda/fastgltf.git
[submodule "Vendor/fmt"]
	path = Vendor/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "Vendor/spdlog"]
	path = Vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Vendor/imgui-v"]
	path = Vendor/imgui-v
	url = https://github.com/exdal/imgui-v.git
[submodule "Vendor/glslang"]
	path = Vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "Vendor/Vulkan-Headers"]
	path = Vendor/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Vendor/EA/EASTL"]
	path = Vendor/EA/EASTL
	url = https://github.com/exdal/EASTL.git
[submodule "Vendor/EA/EAAssert"]
	path = Vendor/EA/EAAssert
	url = https://github.com/electronicarts/EAAssert.git
[submodule "Vendor/EA/EABase"]
	path = Vendor/EA/EABase
	url = https://github.com/electronicarts/EABase.git
[submodule "Vendor/EA/EAStdC"]
	path = Vendor/EA/EAStdC
	url = https://github.com/electronicarts/EAStdC.git
[submodule "Vendor/EA/EAThread"]
	path = Vendor/EA/EAThread
	url = https://github.com/exdal/EAThread.git
[submodule "Vendor/simdjson"]
	path = Vendor/simdjson
	url = https://github.com/simdjson/simdjson.git
[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/SPIRV-Cross"]
	path = Vendor/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
